body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background: #0C0C0D;
}
#home {
  background: #0C0C0D;  /* Gradient from dark teal to lighter teal */
  text-align: center;
  padding: 50px 20px;
  color: white; /* Ensure the text is readable on the dark background */
}



main {
  padding: 0px;
}
